@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Libre+Franklin:wght@200&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto&display=swap');

:root{
    --white-1: #FFF;
    --light-grey: rgb(238, 238, 238);
    --grey: rgb(173, 173, 173);
    --dark-grey: rgb(36, 36, 36);    
    --black-1: #000;

    --orange-1: #FFAE35;

    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

/* =============== BALISES =============== */
body{
    font-family: "Libre Franklin", 'Times New Roman', Times, serif;
}

img{
    max-width: 100%;
}

p{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

a{
    color: var(--black-1);
    text-decoration: none;
}
a:hover{
    color: var(--black-1);
}
a:visited{
    color: var(--black-1);
}



/* =============== CLASSES =============== */
.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

.l:hover, .r:hover{
    border-bottom: solid 1px;
}


.p16{
    padding: 16px;
}

.font-24{
    font-size: 24px;
}

.bald{
    font-weight: bold;
}

.azur{
    color: var(--azur-1);
}

.orange{
    color: var(--orange-1);
}

.white{
    color: white;
}

.grey{
    color: var(--grey);
}

.lien1{
    border-bottom: solid 1px;
    padding-bottom: 3px;

    font-size: 0.7em;
}
.lien1:hover{
    color: gray;
}

.lien2{
    text-transform: uppercase;
    font-size: 0.8em;
}

.lien2:hover{
    color: var(--orange-1);
}

i:hover{
    color: var(--orange-1);
}

/* =============== HEADER =============== */

#mainNav{
    position: relative;
    display: flex;
    justify-content: end;
    height: 100px;
}

#mainNav ul{
    position: absolute;
    top: 40px;
    left: -150%;
    width: 100%;


    backdrop-filter: blur(7px);

    text-align: center;
    font-size: 1.2em;

    transition: left 0.5s ease-in-out;
    
}

#mainNav li{
    padding: 12px;
    letter-spacing: 3px;
}

#mainNav a:hover{
    border-bottom: solid 1px;
}

#mainMenu{
    border-radius: 30px;
}

#hamburger{
    position: absolute;
    top: 20px;
    right: 20px;
}

#mainNav ul.navVisible{
    left: 0;
    background-color: rgba(255, 255, 255, 0.219);    
}

/* =============== FOOTER =============== */

footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: var(--light-grey);

    font-size: 0.8em;
}
footer li{
    padding: 16px;
}


/* =============== PAGE INDEX =============== */

#bodyIndex{
    background-color: rgba(0, 0, 0, 0.02);
}

#bodyIndex header, #bodyIndex footer{
    margin: 0 auto;
}

.title-200{
    font-size: 200px;
}

#mainIndex{
    font-family: "Cormorant Garamond";

    transition: all 1s;
}

#mainIndex:hover{
    background-color: var(--black-1);

    color: var(--white-1);
}

#mainIndex p:nth-child(1){
    transition: all 1s ;
}

#mainIndex p:nth-child(2){
    background-color: var(--black-1);

    transition: all 1s ;
}
#mainIndex p:nth-child(2):hover{
    background-color: rgb(204, 204, 204); 
    
    color: var(--black-1);
}

#mainIndex p:nth-child(3){
    letter-spacing: 3px;
}


#mainIndex p{
    text-align: center;
}

#mainIndex p:last-of-type{
    padding: 50px;
}

/* =============== PAGE PROJETS =============== */

#bodyProjects h1{
    font-family: "Libre Franklin";
    font-weight: 100;
    font-size: 2em;
    color: rgb(88, 88, 88);
    letter-spacing: 15px;
    text-align: center;
    text-transform: uppercase;
}

.project-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    max-width: 400px;
    flex-direction: column;

    padding: 30px;

    text-align: center;

    transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}

.card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}

.card h2{
    font-weight: 100;
    font-size: 1.2em;
    color: rgb(112, 112, 112);
    text-transform: uppercase;
}

/* =============== PAGE PROJET 1 =============== */

#bodyProject1 h1{
    font-family: "Libre Franklin";
    font-weight: 100;
    font-size: 1.3em;
    color: rgb(88, 88, 88);
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

#bodyProject1 main{
    padding: 0px 30px;
}

#bodyProject1 p{
    margin: 0 auto;
    padding-bottom: 30px;

    text-align:justify;
}

.wrapper{
    height: 300px;
    overflow: auto;
    margin: 50px 0px;
}

.wrapper div{
    width: fit-content;
    margin: 0 auto;
}




/* =============== PAGE CONTACT =============== */

#bodyContact{
    background-color: var(--black-1)
}

#bodyContact #mainNav{
    background-color: var(--black-1);
}

#bodyContact #mainMenu a{
    color: var(--white-1);
}

#bodyContact main i{
    font-size: 30px;

    transition: all .3s ease-in-out; 
}

#bodyContact h2{
    color: var(--white-1);
    font-size: 1.2em;

    text-transform: uppercase;
    letter-spacing: 3px;
}

#bodyContact main{
    display: grid;
    padding-top: 30px;
}
#bodyContact main > div:first-of-type{
    flex-direction: column;
    padding-bottom: 30px;
}
.div-media{
    flex-direction: column;
}

#bodyContact i:hover{
    transform: scale(1.2);
}

#bodyContact form{
    flex-direction: column;
}

input{
    height: 50px;
    margin: 10px;
    background-color: var(--black-1);

    border-style: none;

    font-size: 1em;
    font-weight: 900;
    color: var(--white-1);
}

.input-contact{
    border-bottom: solid var(--white-1) 1px;
}
.input-submit{
    padding: 0px 70px;
    
    background-color: var(--orange-1);

    border-radius: 20px;

    transition: all .3s ease-in-out; 
}

.input-submit:hover{

    transform: scale(1.1);
}

#bodyContact #mainNav ul.navVisible{
    left: 0;
    background-color: rgba(10, 4, 4, 0.219);    
}


/* =============== CAROUSSEL =============== */

#caroussel{
    position: relative;
    overflow: hidden;
}

#container1{
    transition: transform 0.5s ease-in-out;
}

#container2, #container3{
    position: absolute;
    top:0;
    transform: translateX(-100%);

    transition: transform 0.5s ease-in-out;
}

#container2.container2-right, #container3.container3-right{
    transform: translateX(0);
}

#container1.container1-right, #container2.container2-right-right{
    transform: translateX(100%);
}


/* =============== MEDIA QUERIES =============== */


@media screen and (min-width: 576px) {
    #bodyIndex header, #bodyIndex footer{
        max-width: 576px;
    }
}

@media screen and (min-width: 768px){
    #bodyIndex header, #bodyIndex footer{
        max-width: 100%;
    }
    
    #mainNav ul{
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: end;
        padding-right: 50px;
        
    }
    #mainNav ul.navVisible{
        left: 0;
        background-color: transparent;   
    }
    
    #mainNav li{
        padding: 20px 20px 20px 100px;
    }


    #mainIndex p:nth-child(3){
        font-size: 20px;
    }
    
    #hamburger{
        display: none;
    }

    .title-200{
        font-size: 400px;
    }

    #mainIndex{
        display: grid;
        grid-template-columns: repeat(3, minmax(1fr));
        grid-template-rows: 1fr 2fr 1fr;        
    }

    #mainIndex p{
        text-align: right;
    }

    #footerIndex{
        display: none;
    }

    .g1{
        grid-area: 2 / 2 / 3 / 3;
    }
    .g2{
        grid-area: 1 / 3 / 4 / 4;

        display: flex;
        align-items: center;
    }

    .g3{
        grid-area: 1 / 2 / 2 / 3;
    }

/* ======= MEDIA QUERIES - PROJETS ====== */

    #bodyProject1 h1{
        font-size: 2em;
    }

    .wrapper{
        height: 500px;
    }
    #bodyProject1 p{
        margin: 0 auto;
        padding: 30px 0px 30px 0px;
    
        text-align:center;
    }

/* ======= MEDIA QUERIES - CONTACT ====== */

    #bodyProject1 p{
        width: 60%;
    }

    #bodyContact main i{
        font-size: 50px;
    }

    #bodyContact main{
        grid-template-columns: 3fr 2fr;
        padding-top: 100px;
    }

    #bodyContact main > div{
        flex-direction: column;
    }

    input{
        height: 80px;
        margin: 20px;
        background-color: var(--black-1);
    
        border-style: none;
    
        font-size: 1.5em;
        font-weight: 900;
        color: var(--white-1);
    }
    #bodyContact h2{
        font-size: 1.5em;
        letter-spacing: 15px;
    }
    
/* ======= MEDIA QUERIES - ANIMATION TITRE ====== */

    .up{
        animation-name: opacity, mouvtop;
        animation-duration: 2s, 2s;
    
        animation-fill-mode: forwards;
        opacity:0;
    }
    
    @keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    }
    
    @keyframes mouvtop{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0);
    }
    }
}

@media screen and (min-width:1300px) {
    .wrapper{
        max-width: 1200px;
    }
    #container1, #container2, #container3{
        display: flex;
        justify-content: center;
    }
}
